body{
    background:black;
    padding-top:50px;
}

.strength, .agilities, .intelligence{
    margin:20px auto;
    width:90%;
    height:900px;
    display:flex;
    gap:10px;
    flex-wrap:wrap;
    padding:15px;
}

.strength{
    border-width:30px;
    border-bottom-style:solid;
    border-image:linear-gradient(180deg, rgb(224, 22, 22) 959.3px,rgb(15, 82, 15) 959.7px) 1;
}
.agilities{
    border-image:linear-gradient(180deg, rgb(15, 82, 15) 959.3px,rgb(60, 186, 228)959.7px) 1;
    border-bottom-width:30px;
    border-bottom-style:solid;
}


p{
    background:rgb(44, 44, 102);
    width:100%;
    height:40px;
    color:white;
    text-align:center;
    font-family:arial;
    margin:0;
    border-bottom:white solid 2px;
    /*display:none;*/
}



img{
    width:100px;
    height:100px; /* can adjust to cover text*/
    
}
.frame{
    
    width:100px;
    height:140px;
    border:solid 2px white;
}
.buttonSet{
    margin:10px auto;
    width:130px;
    height:50px;
    background:grey;
    display:flex;
    justify-content:space-between;
    position:relative;
    align-items:center;
    color:white;
    font-family:arial;
    top:10px;
    z-index:1;
}

#on{
    background:rgb(26, 92, 26);
    width:50px;
    height:50px;
}

#off{
    background:rgb(157, 8, 8);
    width:50px;
    height:50px;
}

.carry{
    opacity:.2;
}

.buttonSet, .filters{
    position:fixed;
    left:50%;
    transform:translate(-50%);
}

.filters{
    display:flex;
    /*border:solid 1px white;*/
   bottom:0;
   width:250px;
   color:white;
}

.filters > div{
    width:80px;
    height:80px;
    margin:20px auto;
    font-size:25px;
    text-align:center;
}

.carryFilter{
    background:rgb(123, 73, 27);
}

.supportFilter{
    background:purple;
}